.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  color: #ffffff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  z-index: 1000;
}

.app-logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: contain;
  /* Ensure the logo maintains its aspect ratio */
  margin-left: auto;
  /* Push the logo to the right */

}

.app-title {
  font-size: 28px;
  font-weight: bold;
  color: #ffe600;
  text-align: center;
  flex-grow: 1;
  margin: 0;
}


/* Card for the login content */
.login-card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  width: 90%;
  max-width: 400px;
}

/* Title styling */
.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;
}

/* Subtitle styling */
.login-subtitle {
  font-size: 16px;
  color: #666666;
  margin-bottom: 20px;
}

/* Google Sign-In Button */
.google-signin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4285f4;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.google-signin-button:hover {
  background-color: #357ae8;
}

/* Google Icon Styling */
.google-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Loader styles */
.loader {
  border: 4px solid #f3f3f3;
  /* Light gray */
  border-top: 4px solid #4285f4;
  /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: auto;
}

/* Cancel button styles */
.cancel-button {
  background-color: #f44336;
  /* Red */
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-button:hover {
  background-color: #d32f2f;
  /* Darker red */
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0%;
  padding: 10px;
  font-size: 0.9rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

.heart {
  color: red;
}

/* Keyframes for loader animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10px;
  }

  .app-logo {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .app-title {
    font-size: 24px;
    text-align: center;
  }

  .login-card {
    padding: 5%;
  }

  .login-title {
    font-size: 20px;
  }

  .login-subtitle {
    font-size: 14px;
  }

  .google-signin-button {
    width: 80%;
    margin: auto;
    
  }
}